@import "variables"
@import "mixins"

header
    height: 788px
    position: relative

    .header-image
        height: 1338px
        justify-content: center
        position: absolute
        width: 100%
        z-index: 0

footer
    height: 245px
    padding-top: 75px

    .contact-info
        margin-bottom: 1rem
        
        .col-4
            justify-content: center

        .fa-address-card,
        .fa-map-marker-alt,
        .fa-skype
            margin-right: 24px

    .contact-info__details

        .col-4
            justify-content: center

        .email-details
            flex-direction: column

            p
                margin-bottom: .5rem
                margin-left: 83px

        .location-details
            p
                margin-left: 119px

        .phone-details
            p
                margin-left: 20px

.download
    height: 60px
    margin-top: 10px
    width: 200px

.logo
    margin: 46px 0 75px 0

    h1
        margin-left: 10px

    img
        height: 29px

.hero
    position: relative
    z-index: 1

    .hero-image
        position: absolute
        right: 0
        z-index: 10

    .welcome-text
        margin-top: 188px

.social-nav

    .social-info
        align-items: center
        height: 200px

        .dribbble
            margin-right: 42px

        .facebook
            margin-right: 12px

.services
    height: 490px
    margin-bottom: 150px
    padding-top: 103px
    position: relative
    z-index: 10

    .col-4
        justify-content: center

    .icon--bulb
        img
            height: 157px
            margin-top: -17px
            width: 140px

    .icon--spaceship
        img
            height: 140px
            width: 140px

    .icon--touch
        img
            height: 137px
            width: 135px

    .services__descriptions
        padding-top: 32px

        .col-4
            text-align: center

            .title
                margin-bottom: 0

.testimonials
    margin-bottom: 150px

    .section-title,
    .title-description
        margin-bottom: 2rem

    .testimonial__illustration
        margin-top: 53px

    .testimonial
        height: 222px
        margin-bottom: 18px
        padding: 39px 36px
        position: relative
        width: 490px

    .user-icon
        bottom: -50px
        position: absolute
        right: -50px

    .user-link
        margin-left: 36px

.call-to-action
    margin-bottom: 234px

    .section-title
        margin-top: 84px

    .call-to-action__illustration
        position: relative

        img
            position: absolute
            right: -25px

.dream-team
    padding-top: 141px

    .team-member__icons
        margin-bottom: 24px

        .team-member__icon
            justify-content: center

    .team-member__info

        .col-4
            text-align: center

        .team-member__name
            margin-bottom: 0

    .team-member__bio
        padding-bottom: 147px

        .bio
            padding: 55px 74px 0 74px
            text-align: center

.message
    height: 150px
    padding-top: 61px
    text-align: center

    .fa-dribbble
        margin-left: 35px