@import "variables"
@import "mixins"

body
    background-color: #fff

header
    background-color: $light-blue

.logo
    h1
        color: #fff
        font-family: $custom-font
        font-size: 26px
        font-style: italic